# 参考 `application-example.yaml` 并在处添加订阅规则，请注意缩进
# Refer to `application-example.yaml` and add subscription rules there，please note the indentation
application:

  input:

    - name: AdGuard 移动广告过滤器
      path: https://filters.adtidy.org/extension/ublock/filters/11_optimized.txt
      type: easylist

    - name: AdGuard 防跟踪保护过滤器
      path: https://filters.adtidy.org/extension/ublock/filters/3_optimized.txt
      type: easylist

    - name: AdGuard URL跟踪过滤器
      path: https://filters.adtidy.org/extension/ublock/filters/17_optimized.txt
      type: easylist

    - name: AdGuard 恼人广告过滤器
      path: https://filters.adtidy.org/extension/ublock/filters/14_optimized.txt
      type: easylist

    - name: AdGuard 解除搜索广告和自我推销过滤器
      path: https://filters.adtidy.org/extension/ublock/filters/10_optimized.txt
      type: easylist

    - name: AdGuard 中文过滤器
      path: https://filters.adtidy.org/extension/ublock/filters/224_optimized.txt
      type: easylist

    - name: NoAppDownload
      path: https://raw.githubusercontent.com/Noyllopa/NoAppDownload/master/NoAppDownload.txt
      type: easylist

    - name: Hagezi Multi Pro - Adblock
      path: https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/adblock/pro.txt
      type: easylist

    - name: Hagezi Threat Intelligence Feeds
      path: https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/adblock/tif.txt
      type: easylist

    - name: EasyPrivacy
      path: https://easylist.to/easylist/easyprivacy.txt
      type: easylist

    - name: uBlock Origin Unbreak
      path: https://raw.githubusercontent.com/uBlockOrigin/uAssets/master/filters/unbreak.txt
      type: easylist

    - name: GOODBYEADS
      path: https://raw.githubusercontent.com/8680/GOODBYEADS/master/data/rules/dns.txt
      type: easylist

  output:
    file_header: |
      Title: xndeye adblock list of ${type}
      Total Size: ${total}
      Last Modified: ${date}
      Homepage: https://github.com/WY-WY-W/adblock_list

    files:
      - name: easylist.txt
        type: easylist
        filter:
          - basic
          - wildcard
          - unknown

      - name: dns.txt
        type: easylist
        file_header: |
          Title: xndeye adblock list of dns
          Total Size: ${total}
          Last Modified: ${date}
          Homepage: https://github.com/WY-WY-W/adblock_list
        filter:
          - basic
          - wildcard

      - name: modify.txt
        type: easylist
        filter:
          - unknown

      - name: dnsmasq.conf
        type: dnsmasq

      - name: clash.yaml
        type: clash

      - name: smartdns.conf
        type: smartdns

      - name: hosts
        type: hosts

  config:

    expected_quantity: 2000000
    fault_tolerance: 0.0001

    domain-detect:
      enable: true
      timeout: 3000
      concurrency: 128
      provider:
        - 1.1.1.1
        - 8.8.8.8
